/hackit/images
hello.mp3
live_train.py
model5_1.h5
model5_2.j5
model5_3_1.h5
cv_detection.py
facial_landmarks.py
arduino2python.py
dataset/
dataset1/
model5.h5
model5_2.h5
model5_3.h5
model5_3_9.h5
requirements.txt
shape_predictor_68_face_landmarks.dat
try.py
try1.py
try2.py
/chest
/model_for_chest_xrays/model1_6_10.h5
/model_for_chest_xrays/model1_6_15.h5

